<!DOCTYPE html>

<html>
    <head>
        <title> {{title}} </title>
        <link rel="icon" href="/images/cloud.jpg" >
        <link rel="stylesheet" href='./css/style.css' >
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <h1> {{error}} </h1>
        </div>

        {{>footer}}
    </body>
</html>